@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../public/fonts/Inter-italic.latin.var.woff2") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Inter-roman.latin.var.woff2") format("woff");
}

.prose code[class*="language-"] {
  font-size: 0.8rem;
}
.prose {
  max-width: 768px;
  color: #000;
}

.prose a {
  color: rgb(126 34 206);
}

.prose a:hover {
  color: rgb(88 28 135);
  transition: 0.5s;
}

code[class*="language-hide"],
pre[class*="language-hide"] {
  visibility: hidden;
}
